@import "https://fonts.googleapis.com/css?family=Raleway:900,800,700,600,400,300,200,100";
@import "https://fonts.googleapis.com/css?family=Josefin+Sans:700,600,400";

/* Global Settings */

html {
    /*for smooth scrolling, when redirected to different parts of the page via ie: a button*/
    scroll-behavior: smooth;
}

body{
    height:100%;
    overflow-y:scroll;
}

body::-webkit-scrollbar {
    /* Invisible Scrollbar */
    display: none;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family:raleway,sans-serif;
    text-transform:uppercase;
    color:#4b4741;
    text-align:center;
    font-weight:800
}

.break-when {
    display: none!important;
}

.page-header{
    /* Section titles */
    border:none;
    margin:80px 0 40px
}

.page-header:after{
    /* Section Title Underline */
    content:"";
    display:block;
    position:relative;
    height:3px;
    width:113px;
    background-color:#f9c56a;
    margin:0 auto
}

.small,small{
    /* Section title descriptions */
    font-family:josefin sans,sans-serif;
    font-size: 60%;
    font-weight:400;
    color: #777;
    display:block!important;
    text-transform:none;
    text-align:center;
    margin:10px 0 15px
}

p{
    /* Paragraph content in sections */
    font-family:josefin sans,sans-serif;
    color:#828281;
    font-size:22px
}

/* Text Color */

.white{
    color:#fff
}

.white .small,
.white small{
    color:#eee
}

/* Buttons */

.btn{
    border-radius:0;
    border:none;
    font-family:raleway,sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:700;
    padding:10px 15px
}

.btn-default{
    background-color:#f9c56a
}

.btn-default:hover{
    background-color:#f7b239
}

.btn-lg{
    font-weight:700;
    padding:15px 40px
}

/* Navbar */

.navbar-wrapper {
    min-width: 65%;
}

.navbar{
    background-color: rgb(2 1 0 / 0.1);
    height: 7%;
    transition: background-color 0.4s ease-in-out;
}

.scrolled {
    /* Darkens the navbar when user scrolls down past home section */
    /* See use-case in: js/main.js */
    background-color: rgb(2 1 0 / 0.9) !important;
    transition: background-color 0.4s ease-in-out;
}

.navbar-toggler {
    background: transparent;
    border: none;
}

.navbar-toggler:focus{
    outline: none;
}

.navbar-brand {
    font-family:josefin sans,sans-serif;
    text-transform:uppercase;
    font-size: 25px;
    font-weight: lighter;
}

.navbar-brand>i{
    font-size: 30px;
    padding: 0 0.5rem;
}

.nav-item {
    text-align: center;
}

.nav-link {
    margin: 0 1rem;
    color: #fff!important;
    font-family:josefin sans,sans-serif;
    text-transform:uppercase;
    font-size: 13px;
}

.nav-link:hover{
    color: #f9c56a!important;
}

/* Home Section */

.home{
    position:relative;
    height:100vh;
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), 
                url(../img/home1.jpg) 
                no-repeat center center;
    filter: darken;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

.home .title-block{
    position:absolute;
    top:50%;
    width:100%;
    transform:translateY(-50%)
}

.home .title-block .logo{
    text-align:center
}

.home .title-block h1{
    color:#fff;
    font-size:72px
}

.home .title-block h2{
    text-transform:none;
    font-weight:400;
    color:#e6e6e6;
    font-size:36px
}

.home .scroll-down{
    position:absolute;
    bottom:40px;
    left:50%;
    transform:translateX(-50%)
}

/* About Section */

.about{
    padding-bottom:80px
}

.about .about-photo{
    padding:5px;
    cursor:pointer
}

.about .img-responsive-1{
    width:100%;
}

.about .img-responsive-2{
    width:100%;
}

@media(max-width:992px){
    .about .about-photo{
        padding-bottom:25px
    }
}

/* Specials Section */

.special{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),
                url(../img/special1.jpg) 
                no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    padding-bottom:80px
}

.special-carousel-inner {
    margin:auto;
}

.special-carousel-description {
    vertical-align: middle;
    padding-right: 2rem;
    padding-left: 1.5rem;
}

.special-carousel-description .page-header {
    margin-top: 0;
    margin-bottom: 0;
}

.special-carousel-description .page-header:after{
    margin: 2rem 0;
}

.special-carousel-description .page-header h1 {
    margin-top: 5rem;
    text-align: left;
}

.special-carousel-description .page-header h1 small{
    text-align: left;
    font-size: 20px;
}

.special-carousel-description p{
    text-align: left;
    font-size: 18px;
}

.white-space {
    background: #fff;
    border-radius: 5px;
}

/* Menu Section */

.menu{
    padding-bottom:30px
}

.menu-tags{
    text-align:center;
    margin-bottom:20px
}

.menu-tags span{
    font-family:raleway,sans-serif;
    font-size:18px;
    color:#828281;
    font-weight:700;
    text-transform:uppercase;
    margin:0 20px;
    padding-bottom:2px;
    padding-top:5px;
    cursor:pointer;
    transition:all .5s ease;
    border-bottom:3px solid transparent
}

.menu-tags .tagsort-active{
    border-bottom:3px solid #f9c56a;
    color:#4b4741
}

.menu-items {
    min-height: 12rem;
}

.menu .food-menu .menu-item{
    margin:15px 0;
    padding-left:10px;
    border-left:3px solid #fff;
    transition: all 0.4s ease-in-out;
}

.menu-item h4{
    font-size: 20px;
}

.hide {
    position: absolute;
    visibility: hidden;
    opacity:0;
    max-height: 0;
    overflow:hidden;
    transition: all 0.4s ease-in-out;
}

.menu .dotted-bg{
    border-top:dotted 2px #ccc;
    position:absolute;
    left:0;
    top:15px;
    width:100%;
    z-index:-1
}

.menu .food-menu .menu-item .menu-wrapper,.menu .food-menu .menu-wrapper{
    position:relative;
    z-index:1
}

.menu h4{
    text-align:left;
    margin:5px 0;
    float:left;
    padding-right:10px;
    display:inline;
    background:#fff
}

.menu p{
    font-size:18px
}

.menu .price{
    float:right;
    padding-left:10px;
    line-height:19.8px;
    margin:5px 0;
    background:#fff none repeat scroll 0% 0%;
    font-family:Josefin Sans;
    font-size:22px;
    font-weight:700
}

.menu .food-menu .menu-btn{
    text-align:center;
    padding:20px 0
}

/* Footer Section */

.footer{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), 
                url(../img/footer1.jpg) 
                no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}

.footer .container{
    padding-bottom:44px
}

.footer-copyrights .container{
    padding-bottom:0
}

.footer h1{
    color:#f9c56a;
    font-size:18px;
    text-align:left;
    margin:60px 0 26px
}

.footer p{
    color:#fff;
    font-size:18px
}

.footer-address p{
    color:#bcbcbc;
    font-size:17px
}

.contact-info p{
    color:#6b6b6b;
    font-size:18px
}

.footer a{
    color:#f9c56a;
    text-decoration:none
}

.footer a:hover{
    color:#999
}

.footer .footer-post{
    margin-bottom:27px
}

.footer .footer-post .last{
    margin-bottom:0
}

.footer .footer-post .footer-post-text{
    font-weight:700;
    font-size:17px;
    margin-top:-4px!important
}

.footer .footer-post .footer-post-text:hover{
    color:#f9c56a
}

.footer .footer-post .footer-post-date{
    font-size:14px;
    color:#828281;
    font-weight:700;
    margin:0
}

.footer .footer-social-icons{
    background:rgba(0,0,0,.2);
    padding:6px 7px 7px;
    margin-bottom:25px;
    display:table
}

.footer .footer-social-icons a{
    padding:9px 0 6px;
    margin-right:0 1px;
    color:#fff;
    background-color:#343434;
    border-radius:2px;
    width:35px;
    height:38px;
    display:inline-block;
    text-align:center;
    font-size:17px
}

.footer .footer-social-icons a:hover{
    background:#f9c56a;
    color:#343434
}
    
.footer-address .fa{
    margin-right:10px;
    color:#f9c56a;
    width:18px;
    text-align:center
}

.footer .footer-copyrights{
    text-align:center;
    background-color:#1c1c1e
}

.footer .footer-copyrights p{
    margin:30px 0;
    color:#b5b5b4;
    font-size:16px
}

/* Screen Size Optimization */

@media(max-width: 1279px){
    /* Large tablet Dimensions ( < 1280px width)*/
    /* ie: iPad Pro */
    .special-carousel-description .page-header h1 {
        margin-top: 3rem;
        font-size: 2rem;
        text-align: left;
    }
    .special-carousel-description .page-header:after{
        margin: 0.5rem 0;
    }
}

@media(max-width:768px){
    /* iPad dimensions */
    h1,.h1{
        font-size:32px
    }
    .home .title-block img{
        height:200px
    }
    .home .title-block h1{
        font-size:42px
    }
    .home .title-block h2{
        font-size:24px
    }

    .special-carousel-inner {
        width:100%!important;
    }

    .special-carousel-description .page-header h1 {
        margin-top: 1.5rem;
        text-align: left;
    }
    .special-carousel-description .page-header:after{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .special-carousel-description p{
        padding-bottom: 1rem;
    }

    .menu-tags span{
        font-size:15px;
        margin:0 8px 4px;
        display:inline-block
    }
    .menu .food-menu .menu-item3 h4{
        font-size:14px
    }

    .break-when {
        display: block !important;
    }
}

@media(max-width:480px){
    /* Phone dimensions */

    /* Vertically centering navbar content */
    /* .navbar-wrapper {
        margin: -5px 0;
    } */

    .home .title-block h1{
        font-size:36px
    }

    .navbar {
        height: 56px;
    }

    .navbar-toggler-icon {
        margin-bottom: 5px;
    }

    .navbar-nav {
        width: 30%;
    }

    .navbar-nav-open {
        background-color: rgb(2 1 0 / 0.1);
        width: 30%;
        border-radius: 1px;
    }

    .break-when {
        display: block !important;
    }

    .special-carousel-inner {
        width:100%!important;
    }

    .special-carousel-description .page-header h1 {
        margin-top: 1.5rem;
        text-align: left;
    }
    .special-carousel-description .page-header:after{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .special-carousel-description p{
        padding-bottom: 1rem;
    }

    .contact-info p{
        font-size:15px
    }
    .footer{
        font-family:Josefin Sans
    }
    .footer .footer-post .footer-post-text{
        margin-top:-15px
    }
}

